@use '../abstracts/variables' as *;

.container-base {
    
    height: 30rem;
    background-image: url("../../img/bg-lotus.svg"),linear-gradient(to right, $topo 65%, $green 65%);
    background-repeat: no-repeat;
    background-size: 25rem, cover;
    background-position: 80% 65%, center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}