@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Footer Location */

.footerloc {
    background-color: $brown;
    max-width: $bp-desktop-xl;
    margin-left: auto;
    margin-right: auto;

    &__container {
        padding: 3rem 2.2rem;
        color: $black;

        @include breakpoint(tablet) {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            padding: 3.5rem 2.5rem;
        }

        @include breakpoint(desktop) {
            padding-left: 9rem;
            padding-right: 9rem;
        }

        &--title {
            color: $black;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: 1.4rem;
            text-transform: uppercase;
        }

        &--subtitle {
            padding: 2.5rem 0;
            color: $black;
            font-family: $font-secondary;
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            color: inherit;

            @include breakpoint(tablet) {
                padding: 0;
                padding-right: 3rem;
            }

            @include breakpoint(desktop) {
                padding: 0;
                padding-right: 6rem;
            }
        }

        &_social {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            @include breakpoint(tablet) {
                align-items: flex-start;
                justify-content: center;
            }

            @include breakpoint(tablet) {
                justify-content: flex-end;
            }

            &--img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }   
}

/* Footer */

.footer {
    background-color: $black;
    max-width: $bp-desktop-xl;
    margin-left: auto;
    margin-right: auto;

    &__container {
        padding: 3rem 2.2rem;
        color: $white;

        @include breakpoint(tablet) {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            padding: 3.5rem 2.5rem;
        }

        @include breakpoint(desktop) {
            padding-left: 8rem;
            padding-right: 8rem;
        }

        &--title {
            color: $white;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: 1.4rem;
            text-transform: uppercase;
        }

        &--subtitle {
            padding: 2.5rem 0;
            color: $white;
            font-family: $font-secondary;
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            color: inherit;

            @include breakpoint(tablet) {
                padding: 0;
                padding-right: 3rem;
            }

            @include breakpoint(desktop) {
                padding: 0;
                padding-right: 6rem;
            }
        }

        &_social {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            @include breakpoint(tablet) {
                align-items: flex-start;
                justify-content: center;
            }

            @include breakpoint(tablet) {
                justify-content: flex-end;
            }

            &--img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }    
}

.footer-maps {
    color: inherit;
    font-family: $font-secondary;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    text-decoration: none;
}

