@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Header */
.header {
    padding-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    a {
        display: flex;
        align-items: center;
        color: $blue;
    }
}

.nav-principal ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include reset-list();
    
    a {
        text-decoration: none;
        font-size: 0.8rem;
        display: inline-block; 
        position: relative;    
        padding: 5px 0;
        &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1.2px;
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%); // Se centra
        background-color: $blue;
        transition: width 0.3s ease-in-out;
        }
        &:hover {
          &::after {
            width: 100%; 
            }
        }
    }
    
    :last-child {
        display: flex;
        align-items: center;
    }

    
}

.header__aside {
    display: flex;
    align-items: center;
    gap: 5rem;
    @include reset-list();
    
    a {
        text-decoration: none;
        font-size: 0.8rem;
    }
    
    &-icons {
        display: flex;
        gap: 1rem;
        a {
            display: inline-block; 
            position: relative;    
            padding: 5px 0;
            &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 1.2px;
            bottom: 0;
            left: 50%; 
            transform: translateX(-50%); // Se centra
            background-color: $blue;
            transition: width 0.3s ease-in-out;
            }
            &:hover {
            &::after {
                width: 100%; 
                }
            }
        }
    }
       
    &-login {
        display: flex;
        gap: 1rem;

        :first-child {
            transition: transform 0.3s ease; 
            &:hover {
            transform: scale(1.1); 
            }
        }
    }
}