@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Header */

.header {
    &__img {
        max-width: 100%;
        min-width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 1rem 7rem 1rem;


        &--title {
            font-size: 4rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.4375rem;
            text-transform: uppercase;
            padding: 2rem 0;
        }

        &--description {
            color: $grey;
            font-family: $font-secondary;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            padding-bottom: 2rem;
            
        }

        &--cta {
            display: flex;
        }
    }
}

