@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Header */

.header {
    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 55% auto;
        align-items: center;
        padding-bottom: 7.5rem;
    }

    @include breakpoint(desktop) {
        max-width: $bp-desktop-xl;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 33% auto 33%;
    
        &::before {
          content: '';
          background-color: $black;
          height: 100%;
          z-index: -1;
        }
    }

    &__img {
        width: 100%;

        @include hero-switcher('../../src/img/hero');
        aspect-ratio: 25 / 16;
    
        @include breakpoint(tablet) {
            aspect-ratio: 437 / 700;
            z-index: -1;
        }

        @include breakpoint(desktop) {
            aspect-ratio: 2 / 3;
            z-index: -1;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 3rem 7rem 1rem;

        @include breakpoint(tablet) {
            margin-left: -4.2rem;
        }

        @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 9rem;
            margin-left: -50rem;
            z-index: 2;
            padding-left: 7rem;
            padding-top: 0;
            padding-right: 7rem;

            &_right {
                padding-left: 4rem;
            }
        }


        &--title {
            font-size: 4rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.4375rem;
            text-transform: uppercase;
            padding: 2rem 0;
            
            @include breakpoint(tablet) {
                font-size: 4.5rem;
                line-height: 4.2rem;
                padding-bottom: 3rem;
            }

            @include breakpoint(desktop) {
                color: $white;
                font-size: 5.5rem;
                line-height: 4.9rem;
                align-self: start;
                padding-top: 0;
            }
        }

        &--description {
            color: $grey;
            font-family: $font-secondary;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            padding-bottom: 2rem;

            @include breakpoint(tablet) {
                padding-bottom: 3rem;
            }

            @include breakpoint(desktop) {
                max-width: 20rem;
                padding-bottom: 4rem;
            }
            
        }

        &--cta {
            display: flex;
        }
    }
}

