@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */
.hero {
    &__expo {
        padding-left: 1rem;
        padding-right: 1rem;

        &--img {
            max-width: 100%;
            min-width: 100%;
        }

        &_description {
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 2rem;

            &--title {
                padding: 1.4rem 0;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 900;
                line-height: 2.8125rem;
                text-transform: uppercase;
            }

            &--subtitle {
                color: $grey;
                font-family: $font-secondary;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;
            }
        }
    }

    &__container {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 7.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &_info {
            background-color: $black;

            &--title {
                color: $white;
                padding: 3rem 1.75rem;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 900;
                line-height: 2.8125rem;
                text-transform: uppercase;
            }

            &--description {
                color: $white;
                padding: 0 1.75rem 3rem 1.75rem;
                font-family: $font-secondary;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;
            }
        }
    }
}

