@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */
.hero {
    display: flex;
    position: relative;
    
    &__content {
        
        &-title {
            max-width: 40rem;
            min-width: 40rem;
            padding-top: 1rem;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4rem;
            color: $blue;
        }

        &-description {
            padding: 1rem 0;
            max-width: 32rem;
            min-width: 32rem;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
            color: $grey;
        }

        &-buttons {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;
            align-items: center;
            padding-bottom: 2rem;
            position: relative;
            z-index: 100;


            &_watch {
                position: relative;
                z-index: 100;
                display: flex;
                gap: 1rem;
                align-items: center;
                text-decoration: none;
                color: $blue;
                transition: transform 0.3s ease; 
                &:hover {
                transform: scale(1.1); 
                }
                .play-text {
                    text-decoration: none;
                    font-style: normal;
                }
            }
            
        }

        &-numbers {
            max-width: 30rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 1rem;
            gap: 1rem;
            padding: 2rem;

            &-item {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                span {
                    display: flex;
                    background-color: $green;
                    padding: 0.3rem;
                    border-radius: 5rem;
                    align-items: center;
                    justify-content: center;
                }

                h3 {
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $blue;
                }


                p {
                    text-align: center;
                    color: #909090;
                    font-size: 0.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

    }

    &__testimonials {
        img.woman {
            position: absolute;
            max-width: 85%;
            top: -20%;
            left: 20%             
        }
    }

    &__testimonial {
        position: absolute;
        max-width: 18rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(8px);
        padding: 1rem;

        blockquote {
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #070D15;
            padding-bottom: 0.5rem;
        }

        cite {
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: $blue;
            font-style: normal;
        }

        &-top {
            top: 15%;
            right: -10%;
        }

        &-bottom {
            top: 55%;
            right: 0%;
        }

    }

}
