@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */
.hero {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: $bp-desktop-xl;

    @include breakpoint(tablet) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint(desktop) {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    &__expo {
    
        @include breakpoint(tablet) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 4rem;
            padding-bottom: 1rem;
        }

        @include breakpoint(desktop) {
            gap: 6rem;
            padding-bottom: 1.87rem;
        }

        &--img {
            width: 100%;

            @include gallery-switcher('../../src/img/gallery-1');
            aspect-ratio: 343 / 320;
        
            @include breakpoint(tablet) {
                aspect-ratio: 10 / 10;
                width: 60%;
            }

            @include breakpoint(desktop) {
                aspect-ratio: 127 / 80;
            }
        }

        &_description {
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 2rem;

            @include breakpoint(tablet) {
                width: 40%;
            }

            &--title {
                padding: 1.4rem 0;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 900;
                line-height: 2.8125rem;
                text-transform: uppercase;

                @include breakpoint(desktop) {
                    font-size: 3.75rem;
                    line-height: 3.75rem;
                }
            }

            &--subtitle {
                color: $grey;
                font-family: $font-secondary;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;

                @include breakpoint(desktop) {
                    font-size: 1.375rem;
                    line-height: 2rem;
                }
            }
        }
    }

    &__container {
        padding-bottom: 7.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 100%;

        @include breakpoint(tablet) {
            flex-direction: row;
        }

        &--img1 {
            width: 100%;

            @include gallery-switcher('../../src/img/gallery-2');
            aspect-ratio: 343 / 480;
        
            @include breakpoint(tablet) {
                aspect-ratio: 9 / 16;
                width: 60%;
            }

            @include breakpoint(desktop) {
                aspect-ratio: 127 / 144;
            }
        }

        &__sub {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 0;
            
            @include breakpoint(tablet) {
                width: 40%;
            }  
        }

        &--img2 {
            width: 100%;

            @include gallery-switcher('../../src/img/gallery-3');
            aspect-ratio: 343 / 200;
        
            @include breakpoint(tablet) {
                aspect-ratio: 280 / 313;
            }

            @include breakpoint(desktop) {
                aspect-ratio: 445 / 313;
            }
        }

        &_info {
            background-color: $black;
            
            @include breakpoint(tablet) {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &--title {
                color: $white;
                padding: 3rem 1.75rem;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 900;
                line-height: 2.8125rem;
                text-transform: uppercase;
            }

            &--description {
                color: $white;
                padding: 0 1.75rem 3rem 1.75rem;
                font-family: $font-secondary;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;
            }
        }
    }
}

