@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Hero */
.hero {
    &__collection {
        &--img {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

