@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Buttons */

.btn {
    @include button;
    transition: background-color 0.3s ease;
    
    &__arrow {
        @include button--arrow;
        transition: background-color 0.3s ease;
    }
    
    &:hover {
        background-color: $brown;
        
        .btn__arrow {
            background-color: $black;
        }
    } 
}