@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Buttons */
.btn {
    @include button()
}

.play-btn {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    padding: 0.5rem;
    filter: drop-shadow(0 24px 50px rgba(0, 0, 0, 0.419));
    align-items: center;
    justify-content: center;
    img {
        width: 22px;
    }
}