@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Buttons */

.btn {
    @include button;
    transition: background-color 0.3s ease;
    
    &__arrow {
        @include button--arrow;
        transition: background-color 0.3s ease;
    }
    
    &:hover {
        background-color: $brown;
        
        .btn__arrow {
            background-color: $black;
        }
    } 
}

.btn-rev {
    @include button-rev;
    transition: background-color 0.3s ease;

        &__arrow {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: $brown;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            transition: background-color 0.3s ease;
        }
    
        &:hover {
        background-color: $brown;
            .btn-rev__arrow {
                background-color: $black;
            }
        }   
}