/* Variables */

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap');
$font-primary: "Big Shoulders", sans-serif;
$font-secondary: "Outfit", sans-serif;


/*COLORS*/

$brown: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;

