/* Variables */

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
$font-stack: "Poppins", sans-serif;

/*COLORS*/
$blue:#264065;
$green:#A9D6CB;
$grey:#909090;
$topo:#FAF8F5;