@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* LOCATION PAGE */

.map {
    position: relative;

    &--cta {
        position: absolute;
        left: 0;
        top: 0;
    }

    >img {
        min-width: 100dvw;
        max-width: 100dvw;
    }
}

.location {
    background-color: $black;
    margin-top: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;

    &--title {
        padding: 4rem 0 3rem 0;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2.8125rem;
        text-transform: uppercase;
        color: $white;
    }

    &--subtitle {
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2rem; /* 100% */
        text-transform: uppercase;
        color: $brown;
    }

    &--postal {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        color: $white;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    &--description {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        color: $white;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}