@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* LOCATION PAGE */

.map {
    position: relative;
    max-width: $bp-desktop-xl;
    margin-left: auto;
    margin-right: auto;
    

    &--cta {
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint(tablet) {
            left: 2.5rem;
        }

        @include breakpoint(desktop) {
            left: 9rem;
        }
    }

    &__img {
        width: 100%;

        @include gallery-switcher('../../src/img/map');
            aspect-ratio: 2 / 3;
        
        @include breakpoint(tablet) {
            aspect-ratio: 5 / 4;
        
        }

        @include breakpoint(desktop) {
            aspect-ratio: 21 / 9;
        }
    }
}

.location {
    max-width: $bp-desktop-xl;
    background-color: $black;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;

    @include breakpoint(tablet) {
        display: flex;
        gap: 6rem;
        margin-top: 0;
        padding: 5rem 2.5rem;
    }

    @include breakpoint(desktop) {
        padding-left: 9rem;
        padding-right: 9rem;
        gap: 14rem;
    }

    &--title {
        padding: 4rem 0 3rem 0;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2.8125rem;
        text-transform: uppercase;
        color: $white;

        @include breakpoint(tablet) {
            padding: 0;
            font-size: 3.4375rem;
            line-height: 3.125rem;
        }

        @include breakpoint(desktop) {
            font-size: 4.375rem;
            line-height: 4.375rem;
        }
    }

    &--subtitle {
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2rem; /* 100% */
        text-transform: uppercase;
        color: $brown;

        @include breakpoint(desktop) {
            font-size: 2.25rem;
            line-height: 2.25rem; 
        }
    }

    &--postal {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        color: $white;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        @include breakpoint(desktop) {
            font-size: 1.375rem;
            line-height: 2rem;
        }
    }

    &--description {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        color: $white;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        @include breakpoint(desktop) {
            font-size: 1.375rem;
            line-height: 2rem;
        }
    }
}